@import '../../../../variable.scss';

.task-list {
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 3px 10px $taskListBoxShadowColor;
    background-color: $taskListBGColor;

    .task-card{
        border: 1px solid $taskCardBorderColor;
        padding: 10px;
        background-color: $taskCardBGColor;
    }

    h5 {
        display: inline-block;
    }
}